# Coq stuff

\#*\#
*.vo
*.v.d
*.glob
*.crashcoqide
.coq-native
Makefile.coq
*.aux
CoqMakefile.conf
Makefile.coq.conf
.coqdeps.d
awk.Makefile

# General files

Thumbs.db
.DS_Store
.svn

*~
#*#
*.bak
*.BAK
*.orig
*.prof
*.rej
*.html
