# Coq stuff

\#*\#
*.vo
*.v.d
*.glob
*.crashcoqide
.coq-native
Makefile.coq
*.aux
CoqMakefile.conf
Makefile.coq.conf
.coqdeps.d
awk.Makefile

# Mac Junk

Thumbs.db
.DS_Store
.svn

*~
#*#
*.bak
*.BAK
*.orig
*.prof
*.rej
*.html

# Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
