# Coq stuff

\#*\#
*.vo
*.v.d
*.glob
*.crashcoqide
.coq-native
Makefile.coq*
*.aux
CoqMakefile.conf
Makefile.coq.conf
.coqdeps.d
awk.Makefile

# Haskell sources

*.hs

# Mac Junk

Thumbs.db
.DS_Store
.svn

*~
#*#
*.bak
*.BAK
*.orig
*.prof
*.rej
*.html

# Latex
/diplomka_navrh/**
!/diplomka_navrh/core/*.tex
!/diplomka_navrh/*.tex
!/diplomka_navrh/*.sty
!/diplomka_navrh/*.bib
!/diplomka_navrh/*.pdf
!/diplomka_navrh/*.txt
